<h1>Editing {{ item.name }}</h1>

{{#if errors}} 
  <div class="alert alert-danger"></div>
    <ul>
    {{#each errors }}
      <li>{{this}}</li>
    {{/each}}
    </ul>
  </div>
 {{/if}}
 
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form action="/items/{{{item.slug}}}" method="post">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" value="{{{item.name}}}">
      </div>

      <div class="form-group">
        <label for="desc">Description</label>
        <textarea name="desc" rows="5" class="form-control">{{{item.desc}}}</textarea>
      </div>

      <div class="form-group">
        <label for="type">Type</label>
        <select name="type" class="form-control" value="">
          <option></option>
          <option value="Wondrous item" {{isSelected item.type "Wondrous item"}}>Wondrous item</option>
          <option value="Wand" {{isSelected item.type "Wand"}}>Wand</option>
        </select>
      </div>

      <div class="form-group">
        <label for="rarity">Rarity</label>
        <select name="rarity" class="form-control">
          <option>{{item.rarity}}</option>
          <option value="common" {{isSelected item.rarity "common"}}>Common</option>
          <option value="uncommon" {{isSelected item.rarity "uncommon"}}>Uncommon</option>
          <option value="rare" {{isSelected item.rarity "rare"}}>Rare</option>
          <option value="very rare" {{isSelected item.rarity "very rare"}}>Very Rare</option>
          <option value="legendary" {{isSelected item.rarity "legendary"}}>Legendary</option>
        </select>
      </div>

      <div class="form-group">
        <label for="requires_attunement">Requires Attunement?</label>
        <input type="checkbox" name="requires_attunement" class="form-control" {{isChecked item.requires_attunement }}>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      </div>
    </form>
  </div>
</div>
