<h1>Bag of Holding</h1>
<p>Currently holding: {{items.results.length}} items</p>

<table class="table table-bordered table-hover table-striped">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Type</th>
    <th scope="col">Rarity</th>
    <th scope="col">Attunement?</th>
    <th></th>
  </tr>
  {{#each items.results}}
  <tr>
    <td>
      <a href="item/{{slug}}">{{name}}</a>
    </td>
    <td>
      {{type}}
    </td>
    <td>
      {{rarity}}
    </td>
    <td>
      {{#if requires_attunement}}
      ({{requires_attunement}})
      {{/if}}
    </td>
    <td>
      <button class="btn btn-danger">Remove</button>
    </td>
  </tr>
  {{/each}}
</table>
