{{#if success }} 
  <div class="alert alert-success">
    {{success}}
  </div>
{{/if}}

{{#if item }}

  <h1>{{item.name}}</h1>
  <p>{{item.type}}, {{item.rarity}} Item</p>

  <p>{{item.desc}}</p>
  <p>Requires Attunement? {{#if item.requires_attunement}} Yes {{else}} No {{/if}}</p>

  <p>Is Stored? {{item.stored}}</p>

{{else}}

<h1>All Magic Items</h1>
<p>Total Items: {{items.length}}</p>

<table class="table table-bordered table-hover table-striped">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Type</th>
    <th scope="col">Rarity</th>
    <th scope="col">Attunement?</th>
    <th></th>
  </tr>
  {{#each items}}
  <tr>
    <td>
      <a href="/items/{{slug}}">{{name}}</a>
    </td>
    <td>
     {{type}}
    </td>
    <td>
      {{rarity}}
    </td>
    <td>
      {{#if requires_attunement}}
        ({{requires_attunement}})
      {{/if}}
    </td>
    <td>      
      <a href="/add/{{slug}}" class="btn btn-primary">Add to Bag</a>
      <a href="/items/{{slug}}/edit" class="btn btn-primary">Edit</a>
      <a href="/items/{{slug}}/delete" class="btn btn-danger">Delete</a>
    </td>
  </tr>
  {{/each}}
</table>

{{/if}}
