{{#if success}} 
  <div class="alert alert-success">
    {{success}}
  </div>
 {{/if}}
 
<h1>{{item.name}}</h1>
<p>{{item.type}}, {{item.rarity}} Item</p>

<p>{{item.desc}}</p>
<p>Requires Attunement? {{#if item.requires_attunement}} Yes {{else}} No {{/if}}</p>
